@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/EInbV5DfGHOiMmvb1Xr-hqRDOzjiPcYnFooOUGCOsRk.woff) format("woff"); }

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local("Oswald Bold"), local("Oswald-Bold"), url(https://themes.googleusercontent.com/static/fonts/oswald/v7/bH7276GfdCjMjApa_dkG6bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff"); }

@font-face {
  font-family: 'helveticaNeue';
  font-style: normal;
  font-weight: 700;
  src: local("helFont"), local("helFont"), url(maidanFonts/HelveticaNeueLight.ttf) format("ttf"); }

a:hover {
  color: none; }

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-family: "helveticaNeue", sans-serif;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* dish */
#dishContainer {
  width: 960px;
  background-color: #FFF;
  padding: 40px; }
  #dishContainer #innerContainer {
    background-color: #FDFCF8;
    margin-right: 15px;
    -webkit-box-shadow: 0px 1px 2px #D3CFCC;
    box-shadow: #D3CFCC;
    padding: 20px 30px 30px 30px; }
    #dishContainer #innerContainer #dishName {
      font-size: 30px; }
    #dishContainer #innerContainer #dishImg {
      margin-top: 10px;
      display: inline-block; }
      #dishContainer #innerContainer #dishImg img {
        padding: 5px;
        border: 1px solid #c3c3c3; }
    #dishContainer #innerContainer #addToCartBtn {
      color: white;
      float: right;
      margin-top: 20px;
      font-weight: 100;
      background-color: #7caf3c;
      -webkit-border-radius: 15px;
      border-radius: 15px;
      padding: 15px 25px;
      border-bottom: 1px solid #516323;
      -webkit-box-shadow: 0px 1px 1px #888;
      box-shadow: 0px 1px 1px #888; }
    #dishContainer #innerContainer #infoContainer {
      width: 375px;
      margin-left: 10px;
      margin-top: 15px;
      display: inline-block;
      font-weight: bold;
      font-size: 17px;
      vertical-align: top;
      color: #333333; }
      #dishContainer #innerContainer #infoContainer .restaurantContainer {
        margin-bottom: 10px; }
        #dishContainer #innerContainer #infoContainer .restaurantContainer a {
          font-weight: normal;
          color: #7caf3c;
          cursor: pointer; }
        #dishContainer #innerContainer #infoContainer .restaurantContainer .text {
          font-weight: normal;
          font-weight: 100;
          font-size: 17px; }

.marginForFooter {
  height: 70px;
  background: #f0f0f0; }

/* Terms */
.updatedTime {
  color: #808080;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 30px; }

.text {
  margin-top: 20px;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: #808080; }

.topic {
  color: #6e6e6e;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 200; }

/* menu */
#cart {
  float: right;
  margin-top: 65px; }

#cart img:hover {
  cursor: pointer; }

#popUp {
  display: none;
  position: absolute;
  width: 337px;
  margin-left: -287px;
  height: 200px;
  background-color: #FFF;
  border-top: 6px solid #7caf3c;
  z-index: 10;
  padding: 10px;
  color: #444444; }
  #popUp .header {
    font-size: 17px;
    font-weight: bold; }
  #popUp .subHeader {
    font-size: 14px;
    margin-top: 10px; }
  #popUp .popUpBtnContainer {
    margin-top: 20px;
    margin-left: 10px; }
    #popUp .popUpBtnContainer a {
      -webkit-border-radius: 5px;
      border-radius: 5px;
      width: 130px; }
    #popUp .popUpBtnContainer #keepShoppingBtn {
      text-transform: uppercase;
      background: #45C3D4;
      text-align: center;
      padding: 10px 0;
      display: inline-block;
      color: white; }
    #popUp .popUpBtnContainer #checkoutBtn {
      text-transform: uppercase;
      text-align: center;
      display: inline-block;
      padding: 10px 0;
      background: #e1e1e1;
      color: white;
      margin-left: 5px; }
  #popUp .promocode {
    margin-top: 20px;
    color: #45c3d3;
    text-align: center; }

.menuHeader-container {
  background: #fff;
  position: fixed;
  height: 130px;
  -webkit-box-shadow: 0px 1px 2 8px #D3CFCC;
  box-shadow: 0px 1px 8px #D3CFCC;
  z-index: 100;
  width: 100%; }
  .menuHeader-container .menuNav {
    width: 800px;
    margin-left: 150px;
    margin-top: 15px; }
    .menuHeader-container .menuNav .acInfo {
      font-size: 15px;
      margin-top: -10px;
      margin-left: -10px;
      font-size: 16px; }
      .menuHeader-container .menuNav .acInfo .acName {
        display: inline-block;
        padding: 10px;
        text-align: center;
        font-weight: 400;
        border: 1px solid transparent;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 10px; }
        .menuHeader-container .menuNav .acInfo .acName a {
          color: #909090; }
          .menuHeader-container .menuNav .acInfo .acName a i {
            vertical-align: text-top; }
        .menuHeader-container .menuNav .acInfo .acName a .hi, .menuHeader-container .menuNav .acInfo .acName a .userName {
          color: #000000; }
      .menuHeader-container .menuNav .acInfo #dropdown-menu {
        display: none;
        position: absolute;
        list-style: none;
        background-color: #FFF;
        z-index: 10;
        height: auto;
        border-bottom: 1px solid #c3c3c3;
        border-right: 1px solid #c3c3c3;
        border-left: 1px solid #c3c3c3;
        margin-left: -11px;
        margin-top: 16px;
        padding-left: 0px; }
        .menuHeader-container .menuNav .acInfo #dropdown-menu li {
          position: relative;
          padding-top: 15px;
          padding-bottom: 15px;
          padding-left: 10px;
          width: 226px;
          text-align: left;
          border-bottom: 1px solid #eeeeee; }
          .menuHeader-container .menuNav .acInfo #dropdown-menu li a {
            display: block;
            width: 100%; }
          .menuHeader-container .menuNav .acInfo #dropdown-menu li a:hover {
            color: #7caf3c; }
      .menuHeader-container .menuNav .acInfo .acName:hover {
        border: 1px solid #c3c3c3;
        border-bottom: 1px solid #eeeeee; }
        .menuHeader-container .menuNav .acInfo .acName:hover #dropdown-menu {
          display: block; }
      .menuHeader-container .menuNav .acInfo .acOrder {
        display: inline-block;
        margin-left: 50px; }
        .menuHeader-container .menuNav .acInfo .acOrder a {
          color: #585d5b; }
  .menuHeader-container .dailyMenu {
    width: 800px;
    margin-top: 0px;
    font-size: 28px;
    height: 80px; }
    .menuHeader-container .dailyMenu a {
      color: #585d5b;
      border-right: 1px solid #585d5b;
      padding-left: 30px;
      float: left;
      width: 120px;
      height: 67px; }
      .menuHeader-container .dailyMenu a p {
        display: block;
        font-size: 14px;
        font-weight: 400;
        color: #585d5b; }
    .menuHeader-container .dailyMenu a.selectedDate {
      color: #7caf3c;
      font-weight: 400;
      width: 330px; }
      .menuHeader-container .dailyMenu a.selectedDate p {
        color: #7caf3c; }
    .menuHeader-container .dailyMenu #d2Menu.selectedDate {
      width: 300px !important; }
    .menuHeader-container .dailyMenu #d3Menu.selectedDate {
      width: 350px !important; }
    .menuHeader-container .dailyMenu .bottomLine {
      display: none;
      position: inherit;
      margin-top: 14px;
      width: 100%;
      border-bottom: 6px solid #7caf3c; }
    .menuHeader-container .dailyMenu #todayMenu .bottomLine {
      width: 210px; }
    .menuHeader-container .dailyMenu #d2Menu .bottomLine {
      width: 240px !important; }
    .menuHeader-container .dailyMenu #d3Menu .bottomLine {
      width: 290px !important; }
    .menuHeader-container .dailyMenu #d4Menu .bottomLine {
      width: 260px !important; }
    .menuHeader-container .dailyMenu #d5Menu .bottomLine {
      width: 210px !important; }
  .menuHeader-container .dailyMenu a:nth-child(1) {
    width: 90px;
    padding-left: 0px !important; }
  .menuHeader-container .dailyMenu #todayMenu.selectedDate {
    width: 240px !important; }
  .menuHeader-container .dailyMenu a:last-child {
    border-right: none; }

#content .item:last-child {
  margin-bottom: 50px; }

.item {
  border: 1px solid #cdcdcd;
  margin: 20px 20px 0px 0px;
  color: #171717;
  float: left;
  width: 320px;
  background-color: #FFF; }
  .item .dishImage {
    top: 0;
    margin: 0; }
    .item .dishImage img {
      width: 318px; }
  .item .dishInfo {
    padding-top: 10px;
    padding-left: 10px; }
    .item .dishInfo .dishName {
      font-weight: bold; }
    .item .dishInfo .restaurantName {
      font-size: 12px;
      padding-top: 5px;
      color: #737373; }
  .item .priceAndAdd {
    text-align: right;
    margin-top: 15px;
    margin-bottom: 5px; }
    .item .priceAndAdd .dishPrice {
      display: inline-block;
      font-size: 15px;
      padding-right: 5px; }
    .item .priceAndAdd .addBtn {
      display: inline-block;
      font-size: 12px;
      margin-right: 5px;
      margin-top: 5px;
      padding: 5px 10px 5px 10px;
      background-color: #7caf3c;
      -webkit-border-radius: 5px;
      border-radius: 5px; }
      .item .priceAndAdd .addBtn a {
        color: #FFF; }

.item.hover {
  cursor: pointer; }

/* register page */
#registerForm {
  float: left;
  width: 400px;
  padding-top: 30px;
  margin-bottom: 50px; }
  #registerForm .title {
    width: 100%;
    color: #7caf3c;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 50px; }
  #registerForm .loginText {
    font-size: 18px;
    margin-bottom: 50px; }
  #registerForm a.loginBtn {
    font-size: 15px;
    padding: 10px 20px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #FFF;
    background-color: #7caf3c;
    margin-left: 20px; }
  #registerForm .registerField {
    font-size: 18px; }
    #registerForm .registerField input {
      width: 300px; }
    #registerForm .registerField p.message {
      font-size: 15px;
      width: 330px; }

.continueBtn {
  font-size: 15px;
  padding: 10px 120px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #FFF;
  background-color: #7caf3c; }

.continueBtn:hover {
  color: #FFF; }

.registerFlow {
  float: right;
  background: url("../img/step.png");
  background-repeat: no-repeat;
  width: 590px;
  height: 800px; }
  @media only screen and (max-width: 990px) {
    .registerFlow {
      display: none; } }

.mapContainer {
  float: right;
  background-repeat: no-repeat;
  width: 590px;
  height: 800px; }
  @media only screen and (max-width: 990px) {
    .mapContainer {
      display: none; } }

/* register location */
#map_canvas {
  width: 600px;
  height: 800px;
  background-color: #CCC; }

/* register thanks */
#centerContent {
  height: 430px;
  text-align: center;
  float: none; }
  #centerContent .topTitle {
    color: #7caf3c;
    font-size: 45px;
    margin-top: 50px;
    text-align: center; }
  #centerContent .customerInfoContainer {
    font-size: 10px;
    color: #5c5c5c; }
    #centerContent .customerInfoContainer .contact {
      margin: 30px auto;
      width: 100%; }
      #centerContent .customerInfoContainer .contact .editLocation {
        display: inline-block;
        width: 200px;
        cursor: pointer;
        font-size: 14px;
        margin-left: 30px; }
      #centerContent .customerInfoContainer .contact .editLocation a {
        color: #7caf3c; }
      #centerContent .customerInfoContainer .contact .editLocation a:hover {
        color: #728c32; }
      #centerContent .customerInfoContainer .contact .lable {
        display: inline-block;
        width: 100px;
        font-size: 15px;
        text-align: left;
        text-transform: uppercase;
        vertical-align: top;
        font-weight: bold;
        margin-bottom: 30px; }
        @media only screen and (max-width: 560px) {
          #centerContent .customerInfoContainer .contact .lable {
            font-size: 20px; } }
      #centerContent .customerInfoContainer .contact .customerInfo {
        display: inline-block; }
      #centerContent .customerInfoContainer .contact .info {
        text-align: left;
        font-size: 15px;
        width: 400px; }

/* Contact Us */
.highlightText a {
  color: #7caf3c; }
.highlightText a:hover {
  color: #7caf3c; }

/* FAQ */
#faqTopBanner {
  background: url("../img/62.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 200px;
  margin-bottom: 50px; }

.questionContainer {
  margin-top: 10px; }
  .questionContainer .question {
    font-size: 15px;
    margin-top: 30px;
    color: #7a7a7a; }
  .questionContainer .question.opened {
    color: #7caf3c;
    font-size: 20px; }
  .questionContainer .question:hover {
    color: #7caf3c;
    cursor: pointer; }
  .questionContainer .answer {
    display: none;
    padding-top: 10px;
    font-size: 15px;
    margin-bottom: 40px;
    line-height: 25px; }
    .questionContainer .answer span a {
      color: #7caf3c; }
    .questionContainer .answer ul {
      list-style: circle; }

/* about */
#aboutTopBanner {
  background: url("../img/61.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 200px;
  margin-bottom: 50px; }

#content .leftContent {
  display: inline-block;
  float: left;
  width: 70%;
  margin-right: 100px; }
  #content .leftContent .italic {
    font-style: italic; }
  #content .leftContent .title {
    font-size: 34px;
    font-weight: 200;
    color: #7caf3c;
    float: none;
    width: 500px; }
  #content .leftContent p {
    padding-top: 20px;
    padding-bottom: 50px;
    width: 100%;
    font-size: 15px; }
#content .rightContent {
  margin-top: 20px;
  display: inline-block;
  width: 20%; }
  #content .rightContent .sideNav {
    border-left: 1px solid #ababab;
    font-size: 15px;
    float: left; }
    #content .rightContent .sideNav ul {
      padding-left: 20px; }
      #content .rightContent .sideNav ul li .selected {
        font-size: 20px;
        color: #7caf3c; }
      #content .rightContent .sideNav ul li a {
        width: 130px;
        color: #515151; }

/* Index */
nav a {
  display: block;
  margin-bottom: 10px;
  padding: 15px 0;
  width: 72%;
  text-align: center;
  text-decoration: none;
  color: #7caf3c; }

nav a:hover {
  color: #171717;
  text-decoration: none; }

.header-container {
  background: white; }

.footer-container,
.main aside {
  background: #191718; }

.title {
  color: white; }

.topMenu {
  font-size: 16px;
  width: 400px;
  padding-top: 10px;
  padding-bottom: 10px; }
  .topMenu .registerBtn {
    color: white;
    background-color: #62792b;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-bottom: 3px inset #516323;
    text-align: center; }

.titleWidth, .leftText .title, .rightText .title {
  width: 550px; }

.holder {
  width: 100%;
  height: 500px;
  background: #090909; }

#firstHolder {
  background: url("../img/128.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  #firstHolder .middleText {
    text-align: center;
    font-size: 72px;
    padding-top: 100px;
    color: #FFF; }
    #firstHolder .middleText .weMakeFood {
      margin: auto;
      padding-bottom: 20px;
      width: 70%;
      border-bottom: 1px solid #ffffff; }
    #firstHolder .middleText .textUnderTitle {
      padding-top: 20px;
      font-size: 30px; }
    #firstHolder .middleText .joinBtn {
      cursor: pointer;
      color: #fff;
      margin: 50px auto;
      font-size: 30px;
      padding: 15px 100px;
      width: 300px;
      background-color: #7caf3c;
      border-bottom: 4px inset #769036;
      -webkit-border-radius: 5px;
      border-radius: 5px; }
    #firstHolder .middleText .registerBtn:hover {
      background-color: #799535;
      border-bottom: 4px inset #586c29; }
  #firstHolder .middleText .weMakeFood, #firstHolder .middleText span.boldText {
    text-shadow: 2px 2px 5px #0e0e0e;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase; }

#secondHolder {
  background: url("../img/221.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.leftText {
  width: 100px;
  text-align: left;
  font-size: 50px;
  padding-top: 60px;
  color: #7caf3c; }
  .leftText p {
    width: 350px !important; }
  .leftText p.sub {
    font-size: 25px;
    width: 350px !important; }
  .leftText .title {
    color: #7caf3c;
    margin-bottom: 10px; }

#thirdHolder {
  background: url("../img/118.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

#thirdHolder .leftPic {
  position: absolute;
  background: #171c0a;
  width: 500px;
  height: 500px; }

.rightText {
  width: 200px;
  text-align: left;
  font-size: 50px;
  padding-top: 80px;
  padding-left: 600px;
  color: #FFF; }
  .rightText p.sub {
    font-size: 25px;
    width: 400px !important;
    margin-bottom: 20px; }
  .rightText p {
    width: 400px !important; }
  .rightText .title {
    margin-bottom: 20px; }

#fourthHolder {
  background: url("../img/bg_texture.png");
  background-repeat: repeat;
  width: 100%; }
  #fourthHolder .title, #fourthHolder p.sub, #fourthHolder p {
    color: #777777 !important;
    width: 460px; }
  #fourthHolder .title {
    margin-top: 40px;
    width: 590px  !important; }
  #fourthHolder .middleText {
    font-size: 70px;
    padding-top: 70px;
    color: #4a4a4a;
    text-align: center; }
  #fourthHolder .rightPic img {
    height: 550px;
    margin-top: -430px;
    margin-left: 50%; }
  #fourthHolder nav.list {
    width: 100%;
    padding-top: 50px;
    margin: auto; }
    #fourthHolder nav.list ul {
      width: 70%;
      list-style: none;
      margin: auto; }
      #fourthHolder nav.list ul li {
        display: inline;
        margin-left: 60px;
        float: left;
        width: 150px; }
        #fourthHolder nav.list ul li img {
          height: 70px; }
        #fourthHolder nav.list ul li .stepText {
          padding-top: 20px;
          width: 150px;
          font-size: 18px; }
          #fourthHolder nav.list ul li .stepText span {
            font-weight: 900;
            font-size: 20px; }
      #fourthHolder nav.list ul li:last-child {
        margin-right: 0; }
  @media only screen and (min-width: 650px) {
    #fourthHolder {
      height: 550px; } }
  @media only screen and (max-width: 649px) {
    #fourthHolder .rightPic {
      display: none; } }

.footer-container {
  margin-top: auto; }
  .footer-container p {
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: 100;
    margin-top: 30px; }
  .footer-container .footerMap {
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center; }
    .footer-container .footerMap a {
      margin-left: 2.5%;
      margin-right: 2.5%;
      color: #aaaaaa;
      font-size: 15px; }
    .footer-container .footerMap a:hover {
      color: #FFF; }
  .footer-container .footerLogo {
    text-align: center; }
    .footer-container .footerLogo img {
      height: 70px; }

@media only screen and (max-width: 768px) {
  .header-container {
    width: 800px; }

  .title {
    float: left;
    display: inline-block;
    width: 190px; }
    .title img {
      position: absolute;
      background-color: white;
      height: 100px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 5px;
      padding-left: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px; }

  .topMenu {
    float: right; }

  body {
    width: 960px; } }
/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
.wrapper {
  width: 1026px;
  margin: 0 5%; }

/* ===================
    ALL: Orange Theme
   =================== */
.main aside {
  border-top: 1px solid #fafafb; }

/* ==============
    MOBILE: Menu
   ============== */
nav ul {
  margin: 0;
  padding: 0; }

/* ==============
    MOBILE: Main
   ============== */
.main {
  padding: 0px 0px 0px 0px;
  background-color: #f0f0f0; }

.main article h1 {
  font-size: 2em; }

.main aside {
  color: white;
  padding: 0px 5% 10px; }

.footer-container footer {
  color: white;
  padding: 20px 0; }

/* ===============
    ALL: IE Fixes
   =============== */
.ie7 .title {
  padding-top: 20px; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 480px) {
  /* ====================
      INTERMEDIATE: Menu
     ==================== */
  nav a {
    float: left;
    width: 100px;
    margin: 0 1.7%;
    padding: 10px;
    margin-bottom: 0; }

  nav li:first-child a {
    margin-left: 0; }

  nav li:last-child a {
    margin-right: 0; } }
@media only screen and (min-width: 480px) {
  /* ====================
      INTERMEDIATE: Menu
     ==================== */
  nav a {
    float: left;
    width: 100px;
    margin: 0 1.7%;
    padding: 10px;
    margin-bottom: 0; }

  nav li:first-child a {
    margin-left: 0; }

  nav li:last-child a {
    margin-right: 0; }

  /* ========================
      INTERMEDIATE: IE Fixes
     ======================== */
  nav ul li {
    display: inline; }

  .oldie nav a {
    margin: 0 0.7%; } }
@media only screen and (min-width: 768px) {
  /* ====================
      WIDE: CSS3 Effects
     ==================== */
  .main aside {
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa; }

  /* ============
      WIDE: Menu
     ============ */
  .title {
    float: left;
    display: inline-block;
    width: 130px;
    margin-top: 15px; }
    .title img {
      position: absolute;
      background-color: white;
      height: 100px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 5px;
      padding-left: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px; }

  nav {
    float: right;
    width: 38%; }

  /* ============
      WIDE: Main
     ============ */
  .main article {
    float: left;
    width: 100%; }

  .main aside {
    float: right;
    width: 28%; } }
@media only screen and (min-width: 1140px) {
  /* ===============
      Maximal Width
     =============== */
  .wrapper {
    width: 1026px;
    /* 1140px - 10% for margins */
    margin: 0 auto; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
